:root {
  --blue: #007bff;
  --blue-light: #c2e9fb;
  --purple: #6f42c1;
  --pink: #fad0c4;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #f6d365;
  --green: #28a745;
  --white: #fff;
  --gray: #6c757d;
  --gray-light: #ececec;
  --gray-dark: #343a40;
  --light: #f8f9fa;
  --dark: #263238;
}

.container {
  background-color: var(--white);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--pink); 
}

.section {
  display: flex;
}

.section--1,
.section--2 {
  min-height: 450px;  
  align-items: center;
  flex-direction: column; 
}

.navbar {
  width: 100%;
  padding: 0 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
}

.navbar__menu,
.nav__list, 
.nav__item {
  height: 100%;
}

.navbar__brand {
  padding: 0 1.5rem;
}

.navbar__brand svg {
  /* Remove the space between inline-block */
  display: block;
  width: 14vw;
}

.navbar__brand svg path {
  fill: var(--orange);
}

/* Navbar list styles*/
.nav__list {
  display: flex;
  margin-bottom: 0;
}

.nav__item {
  padding: .25rem 0;
  overflow: hidden;
}

.nav__item:hover {
  overflow: visible;
}

.nav__item:hover .dropdown {
  opacity: 1;
  transform: translateY(0);
}

.nav__item:hover button svg {
  transform: rotate(180deg);
}

.nav__item a {
  position: relative;
}

.nav__item a::after {
  content: "";
  position: absolute;
  /* top: 100%; */
  bottom: .5rem;
  left: 1.25rem;
  right: 1.25rem;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: .2s ease-in-out;
}

.nav__item a:hover::after {
  transform: scaleX(1);
}

.nav__link,
.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1.25rem;
}

.nav__item button svg {
  transition: .2s cubic-bezier(0.4, 0, 1, 1);
}

.nav__button--search {
  padding: 0 .5rem;
}

/* Containing block of dropdown element*/
.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  min-width: 200px;
  background-color: var(--light);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
  transition: .2s ease-out;
  opacity: 0;
  transform: translateY(20px);
}

.dropdown--wide {
  min-width: 300px;
}

.dropdown__list__title {
  padding: 1rem 1rem 0 1rem;
  margin: 0;
  color: var(--orange);
}

.dropdown__list {
  padding: 0;
  padding: .5rem;
}

.dropdown__item a {
  display: block;
  padding: 1rem 1.5rem;
}

/* Section 2 */

.section--2 {
  min-height: 625px;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 58px;
  padding: 0 5rem;
}

.main-menu,
.main-menu__list,
.site-info,
.site-info__list {
  height: 100%;
}

.left {
  margin-left: 3rem;
}

.right {
  margin-left: 10rem;
}

.main-menu__list, .site-info__list {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}

.main-menu__item,
.site-info__item {
  padding: .5rem 0;
}

.main-menu__item > a,
.site-info__item > a {
  /* Containing block */
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
  color: inherit;
}

.main-menu__item > a::after,
.site-info__item > a::after {
  content: "";
  position: absolute; 
  top: 100%;
  left: 100%;
  right: 1.5rem;
  border-bottom: 1px solid var(--gray);
  transition: .2s ease-in-out;
}

.main-menu__item > a:hover::after,
.site-info__item > a:hover::after {
  left: 1.5rem;
}

.main-menu--secondary {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  width: 100%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  color: var(--dark);
  transition: .2s ease;
}

.main-menu__item--haschildren:hover .main-menu--secondary {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.main-menu__list--secondary,
.featured-items-wrapper {
  width: 50%;
  padding: 3.5rem;
}

.featured-items-wrapper {
  border-left: 1px solid rgba(0,0,0,.1);
}

.main-menu__list--secondary {
  display: flex;
  flex-wrap: wrap;
}

.main-menu__item--secondary {
  flex: 1 0 50%;
}

.main-menu__item--secondary a {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  padding: .5rem 1rem;
  transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
}

.main-menu__item--secondary a:hover {
  color: var(--gray);
}

.featured-items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  flex-basis: 48%;
}

.featured-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.card__logo {
  max-width: 100%;
  height: auto;
}

.card__text {
  font-weight: 500;
}

.card__button {
  padding: 0;
  border-bottom: 1px solid var(--gray-dark);
  transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
}

.card__button:hover {
  color: var(--gray);
}


/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.footer a {
  text-decoration: underline;
  color: var(--orange);
}



