/* Github corner utilities */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% { transform: rotate(0); }

  20%,
  60% { transform: rotate(-25deg); }

  40%,
  80% { transform: rotate(10deg); }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm { animation: none; }

  .github-corner .octo-arm { animation: octocat-wave 560ms ease-in-out; }
}

.github-icon {
  fill: var(--dark);
  color: var(--pink);
  position: absolute;
  right: 0;
  top: 0;
}

/* Background */
.bg-dark {
  background-color: #263238;
  color: #f8f9fa;
}

.bg-light {
  background-color: #f8f9fa;
  color: #263238;
}

/* Create block formatting context*/
.bfc { display: inline-block; }

/* Margin */
.mb-small { margin-bottom: 1rem !important; }

.mb-regular { margin-bottom: 1.5rem !important; }

.mb-medium { margin-bottom: 2rem !important; }

.mb-large { margin-bottom: 2.5rem !important; }

.my-large {
  margin-bottom: 2.5rem !important;
  margin-top: 2.5rem !important;
}

.my-medium {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}


/* Button */
.btn {
  background-color: transparent;
  border: none;
}

.btn:focus {
  outline: none;
}
